body {
    background-color: #333333f3;
    display: block;
    margin: auto;
}

.menu {
    font-size: 1.6em;
    font-family: monospace;
    font-style: italic;
    text-decoration: dotted;
}

.menu a {
    color: #f2f2f2;
    font-size: 1em;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #803909 !important;
    color: white;
}


.img {
    width: 100%;
    height: 28em;
}

.text {
    background-color: #333333bf;
    color: #ffffff;
    font-family: monospace;
    font-style: italic;
    font-size: 2em;
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-fill-mode: both;

}

.text1 {
    background-color: #333333bf;
    color: #ffffff;
    font-family: monospace;
    font-style: italic;
    font-size: 2em;
    animation-name: slideInRight;
    animation-duration: 2s;
    animation-fill-mode: both;

}

.text2 {
    color: #ffffffb9;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.10em;
    animation: opacityAnimation 8s infinite;
    text-align: center;
}

.col-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.themed-grid-col img {
    max-width: 35%;
    height: auto;
    animation: pulse 2s infinite;
}


.themed-grid-col img:hover {
    transform: scale(1.2);
}

.footer {
    color: #ffffff !important;
}

@keyframes opacityAnimation {
    10% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}