html {
	display: block;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
	display: block;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 1000; 
   
}

.navbar a {
    font-size: 1.3em;
    text-decoration: none;
    padding: 10px 20px;
}


.navbar a:not(.navbar-brand) {
    color: #000000 !important;
    animation: slideInLeft 2s both;
}

.navbar a:not(.navbar-brand):hover {
    background-color: #555555;
}

.navbar-brand {
    animation: none !important;
    color: #000000 !important;
}

.navbar-brand:hover {
    background-color: transparent;
}


.header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
  }

.img {
	width: 100%;
	height: 42em;
}

.profile-image {

	width: 450px;
	height: 550px;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #000000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	animation-name: slideInLeft;
	animation-duration: 2s;
	animation-fill-mode: both;
}

.profile-image-container {
	max-width: 100%;
	height: 50%;
	display: block;
	margin: 0 auto;
}


.text {
	margin: 20px;
	padding: 20px;
	background-color: #ab4444ad;
	border-radius: 10px;
	animation-name: slideInRight;
	animation-duration: 2s;
	animation-fill-mode: both;
}


footer {
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	padding: 10px;
}

.content-above-footer {
	margin-top: 20px;
}

.social-icon {
	color: #000;
}

.custom-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#sobre {
	margin-top: 110px;
	min-height: calc(100vh - 200px);
	  
  }

  .row.row-cols-1.row-cols-lg-3.g-4 {
	margin-top: 100px;
  }
  
  

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
	/* Center all content on mobile devices */
	body {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
  
	.navbar {
	  /* Styles for the mobile navbar */
	  background-color: #555;
	}
  
	.navbar a {
	  /* Styles for the mobile navbar links */
	  font-size: 1.2em;
	  padding: 8px 16px;
	}
  
	.header {
	  /* Styles for the mobile header */
	  text-align: center;
	}
  
	.img {
	  /* Styles for the mobile header image */
	  max-width: 100%;
	  height: auto;
	}
  
	.profile-image {
	  /* Styles for the mobile profile image */
	  width: 200px;
	  margin-top: -100px;
	  height: 500px;
	}
  
	.profile-image-container {
	  /* Styles for the mobile profile image container */
	  margin-top: -20px;
	}
  
	.text {
	  /* Styles for the mobile text section */
	  margin: 10px;
	  padding: 10px;
	  background-color: #ab4444ad;
	}
  
	/* Additional mobile-specific styles can be added here */
  }
@keyframes opacityAnimation {
	10% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}

@keyframes slideInLeft {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}