html,
body {
    margin: 0;
    padding: 0;
    background-color: #333333f3;
    overflow-x: hidden;
}

a {
    font-family: monospace;
    font-style: italic;
}

.topnav {
    background-color: #333;
    display: flex;
    justify-content: center;
}

.topnav a {
    float: none;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #803909;
    color: white;
}

.animated-button {
    display: inline-block;
    overflow: hidden;
    border: none;
    background-color: transparent;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.animated-button:hover .img1,
.animated-button:hover .img2,
.animated-button:hover .img3 {
    transform: scale(1.2);
}

.img {
    position: absolute;
    display: block;
    width: 100%;
    height: 364px;
}

.img1 {
    width: 6em;
    position: absolute;
    top: 600px;
    right: 30%;
}

.img2 {
    width: 6em;
    position: absolute;
    top: 605px;
    right: 10%;
}


.table {
    position: absolute;
    margin: 0;
    top: 412px;
    left: 0px;
    width: 50%;
    font-size: 1.2em;
    background-color: #333;
    text-align: center;
    color: white;
    font-family: monospace;
    font-style: italic;
}

.table1 {
    position: absolute;
    margin: 0;
    top: 412px;
    left: 50%;
    width: 50%;
    font-size: 1.2em;
    background-color: #333;
    text-align: center;
    color: white;
    border-collapse: collapse;
    font-family: monospace;
    font-style: italic;
}


.text {
    position: absolute;
    top: 448px;
    width: 50%;
    left: 15px;
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 2.3em;
    font-weight: normal;
    animation: opacityAnimation 8s infinite;
}

.text1 {
    position: absolute;
    margin: 0;
    top: 630px;
    width: 50%;
    left: 20px;
    text-align: justify;
    color: white;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: normal;
    animation: opacityAnimation 8s infinite;
}

.text2 {
    color: white;
    font-family: monospace;
    font-size: 110%;
    font-weight: normal;

}

.slide-in-left {
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.slide-in-right {
    animation-name: slideInRight;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes opacityAnimation {
    10% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}



#form-opiniao {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#opiniao {
    display: block;
    height: 50px;
    width: 100%;
    color: white;
    background-color: transparent;
}

#form-opiniao button {
    display: block;
    margin: 0 auto;
}